.accordion-button {
  letter-spacing: 0.05rem;
  font-weight: 500;

  &:focus {
    border:none;
    box-shadow: none;
  }

}

.accordion-button:not(.collapsed) {
  background:none;
  outline:none;
  color:$pink;

  &:after {
    color:$pink;
    filter: invert(8%) sepia(100%) saturate(6514%) hue-rotate(331deg) brightness(80%) contrast(100%);
  }
}
