.round-menu {
  border: 1px solid #ccc !important;
  background: #f6f6f6 !important;
  color: #777 !important;
  width: 50px;
  height: 50px;
  line-height: 25px;
  font-size: 14px;
  padding: .75rem .75rem;
  border-radius: 50%;
  text-align: center;
}
