.dropdown-menu {
  min-width: 15rem;
  border-radius: 6px;
  line-height: initial;

  li {
    display: block;
    margin:0;

    a {
      font-family: $primary-font;
      letter-spacing: 0;
      display: block !important;
      width: 100%;
      padding: 0.25rem 1rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      text-decoration: none;
      // white-space: nowrap;
      background-color: transparent;
      border: 0;
    }

  }

}

.dropdown-item {
  font-family: $primary-font;
  letter-spacing: 0;
}

.heading-toggle {
  border: none;
  padding: 0;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color:$black;

  &:focus {
    box-shadow:none;
  }

  &:focus:not(:focus-visible) {
    background:white;
    color:$black;
  }

  .caret {

    &:after {
      color:$pink;
    }

  }

}
