.icon-list {
  display: inline-block;
  width:15px;
  height:15px;
  @include background-vector(icon_list, contain);
}

.icon-board {
  display: inline-block;
  width:15px;
  height:15px;
  @include background-vector(icon_board, contain);
}

.btn-outline-primary {

  .icon-list,.icon-board {
    margin-right:8px;
    position: relative;
    top: 3px;
  }

  &.active {

    .icon-list {
      display: inline-block;
      width:15px;
      height:15px;
      @include background-vector(icon_list-white, contain);
    }

    .icon-board {
      display: inline-block;
      width:15px;
      height:15px;
      @include background-vector(icon_board-white, contain);
    }

  }

}
