.navbar {
  background: none !important;

  .nav-item, .navbar-brand {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    color: $black;
    position: relative;
    background: none;
    border:none;
    padding:0;
  }

  .form-control {
    border-radius: 30px;
  }

  &.menu-btn {
    padding: 0;
    margin: -20px 0 0 0;
  }

}

.navbar-toggler {
  display: flex;
  align-items: center;
  color:$dark-blue;
  border-color:#D2D6DD;
  flex-direction: row-reverse;
  text-transform: uppercase;
  font-family: 'rift';
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 6px 10px;


  @include media-breakpoint-up(md) {
    display: none;
  }

  &:focus {
    box-shadow: none;
    background: white;
    color:$pink;
  }

  .navbar-toggler-icon {
    margin-left: 7px;
    width: 19px;
    height: 19px;
    padding: 10px 0;
  }

  &:after {
    content:'menu';
  }

}
