.tabs {

  > ul {
    list-style: none;
    padding:0;
    margin-bottom:25px;
    display: block;

    > li {
      display: inline-block;
      margin-right:15px;
      margin-bottom: 13px;
      font-family: $secondary-font;
      letter-spacing: 0.08rem;
      font-weight:500;
      font-size:0.9rem;

      @include media-breakpoint-up(md) {
        margin-right:20px;
      }

      > a {
        color:$dark-blue;
        text-decoration: none;
        position: relative;
        opacity: 0.6;
        cursor: pointer;

        span {
          color:$pink;
          margin-left:10px;
        }

      }

      &:last-child {
        margin-right:0;
      }

      &.active {

        a {
          opacity:1;

          &:after {
            content:'';
            display: block;
            width:100%;
            height:1px;
            background:$pink;
            position: absolute;
            bottom:-5px;
          }

        }

      }

    }

  }

  ul#tabPeopleMenu {
    margin: -40px 0 20px 0 !important;
  }

}

#container {

  > div.tabs {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

}
