<!-- header -->

<header class="topbar navbar-fixed-top">
            <nav class="navbar top-navbar fixed-top box-shadow-bt">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a href="index.html" id="mobile-nav-logo">Home</a>

                <div id="nav-icon">
					<div></div>
				</div>



                    <div class="navbar-nav">


                            <div id="searchArea" class="app-search">
                                <a class="srh-btn" id="searchicon"><i class="bi bi-search"></i></a>
                                <input name="ctl00$txtSearch" type="text" id="txtSearch" class="form-control" placeholder="" autocomplete="off" style="visibility:hidden">
                                <input type="button" id="butSearchtext" class="btn btn-default w-auto-s" value="Search" onclick="RedirectToSearch()" style="visibility:hidden">

                            </div>

                        <ul>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                <i class="bi bi-chat-right"><span class="badge"></span></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right notify-drop">
                                <li>
                                    <div class="notify-drop-title">
                                        <div class="row">
                                            <h5 class="mb-3">Notifications:</h5>
                                            <div>

                                                <a href="/Messaging" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="notifications"><i class="fa fa-dot-circle-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="UlNotificationsList" class="drop-content"></div>
                                    <div class="notify-drop-footer text-center">

                                        <a href="/Messaging"><i class="fa fa-eye"></i>Notifications</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="round-menu" id="userInitials">EH</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-text p-0">

                                                <a href="profile.html"><h5 class="mb-3">Ewan Humphreys</h5></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/People/Default1.aspx?menu=person" class="bold">Add Person</a>
                                        <a href="/People/Default1.aspx?menu=company" class="bold">Add Company</a>
                                        <a href="/People/Default1.aspx?menu=trust" class="bold">Add Trust</a>


                                    </li>
                                      <li role="separator" class="divider"></li>
                                    <li>
                                         <a href="/Messaging" class="bold">Secure Message</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/People/Default.aspx?menu=Search&amp;ref=advancedsearch&amp;hide_menu=1">Client Search</a>
                                        <a href="/People/Default.aspx?menu=Search&amp;ref=productsearchnew&amp;hide_menu=1">Policy Search</a>
                                        <a href="/FinancialProviders/Default.aspx?menu=financialproviders&amp;ref=search&amp;hide_menu=1">Provider Search</a>

                                   <a href="/People/Default.aspx?menu=Search&amp;ref=companysearch&amp;hide_menu=1">Company Search</a>
                                   <a href="/People/Default.aspx?menu=Search&amp;ref=trustsearch&amp;hide_menu=1">Trust Search</a>
                                   <a href="/People/Default.aspx?menu=search&amp;ref=productsearchwithfunds&amp;hide_menu=1">Fund Search</a>

                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="">

                                    </li>

                                    <li class=""><a href="/Settings/Default.aspx?menu=settings&amp;ref=resetpass">Change Password</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="http://support.advisercloud.co.uk/">Help</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class=""><a href="/logout.aspx">Logout</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="disabled">
                                        <a class="small">2.14.12.25651 on MCOCSF-WDVDI2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        </ul>
                    </div>

            </nav>
        </header>
