<!-- sidenav bootstrap -->

<sidenav id="sidenav">
	<div>
		<a href="index.html" id="sidenav-logo">Home</a>
		<ul class="navbar-nav mr-auto font-medium">
			<li class="nav-item"><a class="nav-link" href="/typography.html">Typography</a></li>
			<li class="nav-item"><a class="nav-link" href="/index.html">Components</a></li>
			<li class="nav-item"><a class="nav-link" href="/forms.html">Forms</a></li>
			<li class="nav-item"><a class="nav-link" href="/tables.html">Tables</a></li>
			<li class="nav-item"><a class="nav-link" href="/charts.html">Charts</a></li>
			<li class="nav-item"><a class="nav-link" href="https://icons.getbootstrap.com/#content" target="_blank">Icons</a></li>
			<li class="nav-item">
			<a class="nav-link" href="/logout.aspx">Logout</a>
			</li>
		</ul>
	</div>
</sidenav>
