<!-- sidenav -->

<sidenav id="sidenav">
	<div>
		<a href="index.html" id="sidenav-logo">Home</a>
		<ul class="navbar-nav mr-auto font-medium">
			<li class="nav-item"><a class="nav-link" href="/FactFind?menu=factfind&amp;ref=viewfactfind"><i class="icon fact-find"></i>Fact Find</a></li>
			<li class="nav-item"><a class="success nav-link" href="/People/Default1.aspx"><i class="icon clients"></i>Clients</a></li>
			<li class="nav-item"><a class="success nav-link" href="/Tasks"><i class="icon tasks"></i>Tasks</a></li>
			<li class="nav-item"><a class="primary nav-link" href="/Reports"><i class="icon reports"></i>Reports</a></li>
			<li class="nav-item"><a class="nav-link" href="/AccountsIFA/Default.aspx?ref=psviewstatements&amp;menu=accounts"><i class="icon accounts"></i>Accounts</a></li>
			<li class="nav-item"><a class="nav-link" href="/Settings"><i class="icon settings"></i>Settings</a></li>
			<li class="nav-item">
			<a class="nav-link" href="/logout.aspx">Logout</a>
			</li>
		</ul>
	</div>
</sidenav>
