<div class="row">

  <div id="progress" class="col-md-3 mb-3">

    <h4>Fact find progress</h4>

    <ul>
      <li><a href="#" class="icon-width list-group-item complete">Risk Details</a></li>
      <li><a href="#" class="icon-width list-group-item active">ESG</a></li>
    </ul>

  </div>

  <div class="col-md-9 mb-5">

    <h3 class="mb-3">ESG</h3>

    <!-- Example introduction content to each section to help users understand what the section is about -->

    <p class="mb-4">ESG is a system for how to measure the sustainability of a company or investment in three specific categories: environmental, social and governance. Socially responsible investing, ethical investing, sustainable investing and impact investing are more general terms.
      <b>Please select etc etc etc</b>
    </p>

    <div id="new-fact-find" class="card">

      <form class="row g-3">

        <section class="mb-3">
          <div class="d-flex justify-content-between">
            <h4 class="mb-3">Ethically balanced</h4>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <h5 class="pink mb-3">SRI Funds</h5>
          <p>Combine a wide range of positive and negative ethical criteria (eg favouring companies with strong social and environmental practices whilst avoiding major polluters and manufacturers of tobacco and armaments). Such funds often make pragmatic decisions regarding ‘pros and cons’ and apply ‘best in sector’ strategies to allow investment in a wide range of acceptable companies.</p>
          <button type="button" class="btn btn-secondary btn-sm">Add note</button>
        </section>

        <section class="mb-3">
          <div class="d-flex justify-content-between">
            <h4 class="mb-3">Negative Ethical</h4>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <h5 class="pink mb-3">SRI Funds</h5>
          <p>Core ethical approach is to apply clear, often strict, negative ‘ethical’ avoidance criteria – this may include avoiding armaments, tobacco, gambling companies and organisations with poor social or environmental practices. These are often regarded as being ‘traditional’ ethical fund options.</p>
          <!-- <button type="button" class="btn btn-secondary btn-sm">Add note</button> -->
          <div class="notes mb-3">
        	  <label for="addnote" class="form-label"><h5>Add note</h5></label>
            <div class="d-flex">
        	     <input type="email" class="form-control" id="addnote" placeholder="Enter your note here" value="This is a test note">
               <a href="#"><i class="bi bi-pencil"></i></a>
            </div>
        	</div>
        </section>

        <section class="mb-3">
          <div class="d-flex justify-content-between">
            <h4 class="mb-3">Sustainability Themed</h4>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <h5 class="pink mb-3">SRI Funds</h5>
          <p>Typically select companies with sound environmental, social and governance strategies - favouring those that encourage or are helping to facilitate the transition towards more sustainable lifestyles. Many also have ethical screening criteria and therefore avoid commonly excluded areas.</p>
          <button type="button" class="btn btn-secondary btn-sm">Add note</button>
        </section>

      </form>

    </div>

    <div class="row mt-5">
      <div class="col-6 d-flex justify-content-start">
        <button class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</button>
      </div>

      <div class="col-6 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Next <i class="bi bi-chevron-right"></i></button>
      </div>

    </div>

  </div>

</div>
