

  <div class="col-12 card">

    <table id="factfindflows" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date created</th>
                <th>Created by</th>
                <th>Status</th>
                <th width="70px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Flow example name 1</td>
                <td>11/05/2023</td>
                <td>Elliot Simpson</td>
                <td>Live</td>
                <td class="actions">
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>Flow example name 2</td>
                <td>09/05/2023</td>
                <td>Daniel Buxton</td>
                <td>Draft</td>
                <td class="actions">
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>Flow example name 3</td>
                <td>21/03/2023</td>
                <td>Daniel Buxton</td>
                <td>Live</td>
                <td class="actions">
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>Flow example name 4</td>
                <td>10/02/2023</td>
                <td>Elliot Simpson</td>
                <td>Draft</td>
                <td class="actions">
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>Flow example name 5</td>
                <td>01/02/2023</td>
                <td>Daniel Buxton</td>
                <td>Live</td>
                <td class="actions">
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </td>
            </tr>



        </tbody>

    </table>

  </div>

  <script>

    $('#factfindflows').DataTable( {
      order: [[ 1, 'asc' ]],
      searching: false,
      info: false,
      lengthChange: false,
      paging: false
    } );

  </script>
