<div id="content">

        <div id="add-btn">
          <a class="btn btn-primary float-add" href="#" role="button"><i class="bi bi-plus-lg"></i></a>
        </div>

        <div id="intro" class="row">

          <div class="col-12">

            <h2 class="mb-5">Messages</h2>

          </div>

        </div>

        <div class="row">

          <div class="col-12">

          <div id="message-list" class="card">

            <ul class="messages-list list-group">
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#">
                    <div>
                      <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                      <div class="message">
                        <div>
                          <span>
                            <b>John Thorpe</b>
                          </span>
                          <time>30m ago</time>
                        </div>
                        <p>Nulla ut faucibus augue. Morbi nec neque...</p>
                      </div>
                    </div>
                  </a>
                </li>

              </ul>

          </div>

          </div>

        </div>

    </div>
