<div id="content">

  <div id="intro" class="row">

    <div class="col-12">

      <h2 class="mb-5">Messages</h2>

    </div>

  </div>

  <div class="row">

    <div id="message-details" class="col-12">

      <div class="card">

        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">Conversation title</h5>
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>
          <div class="message-content">

            <div class="message">
              <div class="user">
                <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                <div class="name">John Thorpe</div>
              </div>
              <div class="message-bubble">
                <p>Etiam condimentum quam felis, vel molestie nibh egestas sit amet. Donec nec mi eu enim auctor tristique ut quis lacus. Vivamus ullamcorper...</p>
              </div>
              <div class="message-attachments">
                <ul>
                  <li>
                    <a href="#">
                      <i class="bi bi-file-earmark-pdf"></i>
                      <span>Example document.pdf</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-file-earmark-pdf"></i>
                      <span>Another example document.pdf</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="message-details">
                <time>30m ago</time>
              </div>
            </div>

            <div class="message client">
              <div class="user">
                <img src="/src/img/profile_avatar.png" width="32" height="32" class="avatar">
                <div class="name">Alex Stone</div>
              </div>
              <div class="message-bubble">
                <p>Yes no problem, thanks!</p>
              </div>
              <div class="message-attachments">
                <ul>
                  <li>
                    <a href="#">
                      <i class="bi bi-file-earmark-pdf"></i>
                      <span>Example document.pdf</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="message-details">
                <time>30m ago</time>
              </div>
            </div>

            <div class="message">
              <div class="user">
                <img src="/src/img/avatar.png" width="32" height="32" class="avatar">
                <div class="name">John Thorpe</div>
              </div>
              <div class="message-bubble">
                <p>You're welcome!</p>
              </div>

              <div class="message-details">
                <time>30m ago</time>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" spellcheck="false" placeholder="Type your message"></textarea>
            <div id="message-actions">
              <button class="btn attach"><i class="bi bi-paperclip"></i></button>
              <button class="btn btn-success send"><i></i></button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</div>
