<div class="mb-4 d-flex justify-content-between">
    <h3 class="mb-3 mb-md-0">Fact find flows</h3>
</div>

<p>To create your new fact flow please add a name then add a step. You can then select any items you would like within that step</p>

<div class="row mt-5 mb-5 d-flex justify-content-between">
  <div class="col-md-6 mb-4 mb-md-0">
    <label for="factfindflowname" class="form-label"><h4>Fact find flow name</h4></label>
    <input type="text" class="form-control" id="factfindflowname" placeholder="What is this flow called?">
  </div>
  <div class="col-md-3">
    <label for="status" class="form-label"><h4>Status</h4></label>
    <select id="status" class="form-select">
      <option selected="">Please select</option>
      <option>Published</option>
      <option>Draft</option>
    </select>
  </div>
</div>


  <div class="card fact-find-step mb-4">

    <div class="card-header mb-0 border-0 d-flex justify-content-between">
      <div class="step-title d-flex">
        <div class="move">
          <i class="bi bi-arrows-move"></i>
        </div>
        <h4>Step <span class="badge text-dark">1</span></h4>
      </div>
      <i class="bi bi-trash pink"></i>
    </div>

    <div class="card-body">

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="category" class="form-label">Category</label>
          <select id="status" class="form-select">
            <option selected="">Please select</option>
            <option>Personal information</option>
            <option>Finances</option>
            <option>Planning</option>
            <option>Declaration</option>
          </select>
        </div>
      </div>

      <div class="row fields">

        <div class="col-md-6">
          <h5 class="mb-3">Fields</h5>

          <ul class="mb-4 drag">
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Setup</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Client information</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Extra details</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Employment</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Objectives</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
          </ul>

          <button type="button" class="btn btn-secondary btn-sm">Add new field</button>

        </div>
      </div> <!-- /.fields -->

    </div>

  </div><!-- /.fact-find-step -->

  <div class="card fact-find-step mb-4">

    <div class="card-header mb-0 border-0 d-flex justify-content-between">
      <div class="step-title d-flex">
        <div class="move">
          <i class="bi bi-arrows-move"></i>
        </div>
        <h4>Step <span class="badge text-dark">2</span></h4>
      </div>
      <i class="bi bi-trash pink"></i>
    </div>

    <div class="card-body">

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="category" class="form-label">Category</label>
          <select id="status" class="form-select">
            <option selected="">Please select</option>
            <option>Personal information</option>
            <option>Finances</option>
            <option>Planning</option>
            <option>Declaration</option>
          </select>
        </div>
      </div>

      <div class="row fields">

        <div class="col-md-6">
          <h5 class="mb-3">Fields</h5>

          <ul class="mb-4 drag">
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Income details</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>
            <li>
              <div class="move">
                <i class="bi bi-arrows-move"></i>
              </div>
              <select id="status" class="form-select">
                <option selected="">Please select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </li>

          </ul>

          <button type="button" class="btn btn-secondary btn-sm">Add new field</button>

        </div>
      </div> <!-- /.fields -->

    </div>

  </div><!-- /.fact-find-step -->

  <button type="button" class="btn btn-primary">Add new step</button>

  <div class="row mt-5">

      <div class="col-6 d-flex justify-content-start">
        <button class="btn btn-secondary">Cancel</button>
      </div>

      <div class="col-6 d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Save</button>
      </div>

</div>
