<div class="row">
  <div class="col-12 mb-4 d-flex align-items-start justify-content-end">
    <button type="button" class="btn btn-secondary btn-sm me-2">Export</button>
    <button type="button" class="btn btn-secondary btn-sm">Filter</button>
  </div>
</div>

<div id="tasks-board" class="row cards">

  <div class="col-md-3 mb-3 mb-md-0">

    <div class="d-flex task-header justify-content-between align-items-center mb-2">
      <h4>New <span>6</span></h4>
      <a href="#"><i class="bi bi-plus"></i></a>
    </div>

    <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#task-edit">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

  </div>

  <div class="col-md-3 mb-3 mb-md-0">

    <div class="d-flex task-header justify-content-between align-items-center mb-2">
      <h4>Due <span>3</span></h4>
      <a href="#"><i class="bi bi-plus"></i></a>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon red" data-toggle="tooltip" data-placement="top" title="High"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon red" data-toggle="tooltip" data-placement="top" title="High"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon red" data-toggle="tooltip" data-placement="top" title="High"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

  </div>

  <div class="col-md-3 mb-3 mb-md-0">

    <div class="d-flex task-header justify-content-between align-items-center mb-2">
      <h4>In progress <span>1</span></h4>
      <a href="#"><i class="bi bi-plus"></i></a>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

  </div>

  <div class="col-md-3 mb-3 mb-md-0">

    <div class="d-flex task-header justify-content-between align-items-center mb-2">
      <h4>Completed <span>2</span></h4>
      <a href="#"><i class="bi bi-plus"></i></a>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h6>Portfolio review for Anna Blissin</h6>
          <div class="ms-2">
            <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
          </div>
        </div>
        <div>
          <a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Client review</span>
          <span>06/03/2027</span>
        </div>
        <button type="button" class="btn btn-secondary btn-sm mt-3">Ewan Humphreys</button>
      </div>
    </div>

  </div>

</div>

<div class="modal right fade" id="task-edit" tabindex="-1" aria-modal="true" role="dialog" aria-labelledby="task-edit">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-group">
            <label class="control-label d-block">
                Client
            </label>

            <div class="control-group">
                <input type="text" id="input-tags" class="input-tags demo-default selectized" value="22221#P" tabindex="-1" style="display: none;"><div class="selectize-control input-tags demo-default multi plugin-remove_button"><div class="selectize-input items not-full has-options has-items"><div class="item" data-value="22221#P">Anna Blissin<a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a></div><input type="text" autocomplete="off" tabindex="" id="input-tags-selectized" style="width: 4px; opacity: 1; position: relative; left: 0px;"></div><div class="selectize-dropdown multi input-tags demo-default plugin-remove_button" style="display: none;"><div class="selectize-dropdown-content"></div></div></div>
                <input type="hidden" id="SelectedIds" value="">
                <input type="hidden" id="txtTaskID">
                <input type="hidden" id="txtPersonIdUrl" value="0">
            </div>
        </div>
        <div>
          <label for="client" class="form-label">Client</label>
          <input class="form-control" list="ClientListOptions" id="ClientList" placeholder="Search clients..." value="Anna Blissin">
          <datalist id="ClientListOptions">
            <option value="Anna Blissin">
            <option value="Henry Blissin">
            <option value="David Wood">
            <option value="Liam Jones">
            <option value="Paul Green">
          </datalist>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>
