<div class="row">
  <div class="tabs col-9">
      <ul class="nav">
          <li class="active"><a href="#" class="active">New<span id="totalFactFind">15</span></a></li>
          <li><a href="#">Due<span id="inProcessFactFind">3</span></a></li>
          <li><a href="#">In progress<span id="completedFactFind">10</span></a></li>
          <li><a href="#">Completed<span id="completedFactFind">2</span></a></li>
      </ul>
  </div>
  <div class="col-3 d-flex align-items-start justify-content-end">
    <button type="button" class="btn btn-secondary btn-sm me-2">Export</button>
    <button type="button" class="btn btn-secondary btn-sm">Filter</button>
  </div>
</div>


<div class="col-12 card">

  <table id="valuations" class="display files" style="width:100%">
      <thead>
          <tr>
              <th>#</th>
              <th>Title</th>
              <th>Client</th>
              <th>Type</th>
              <th>Who</th>
              <th>Due Date</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon orange" data-toggle="tooltip" data-placement="top" title="Medium"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon red" data-toggle="tooltip" data-placement="top" title="High"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>
          <tr>
              <td>#</td>
              <td>Portfolio review for Anna Blissin</td>
              <td><a href="#">Anna Blissin</a>, <a href="#">Henry Blissin</a></td>
              <td>Client review</td>
              <td>
                <select class="form-select" aria-label="who select">
              	  <option selected="">Ewan Humphreys</option>
              	  <option value="">Daniel Simpson</option>
              	</select>
              </td>
              <td>06/03/2027</td>
              <td>
                <select class="form-select" aria-label="status select">
              	  <option selected="">Not started</option>
              	  <option value="">In progress</option>
                  <option value="">Waiting on someone else</option>
                  <option value="">Complete</option>
              	</select>
              </td>
              <td class="text-center">
                <span class="status-icon green" data-toggle="tooltip" data-placement="top" title="Low"></span>
              </td>
              <td class="actions">
                <a href="#"><i class="bi bi-pencil"></i></a>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
          </tr>


      </tbody>

  </table>

</div>

<script>

  $('#valuations').DataTable( {
    order: [[ 1, 'asc' ]],
    searching: false,
    info: false,
    lengthChange: false
  } );

</script>
