.form-control {
  border-radius: 6px;
}

.form-select {
  border-radius: 6px;
}

.form-label {
  font-weight: 500;
}

.control-label {
  margin-bottom: 15px !important;
}

.custom-select {
  border-radius:4px;
  background: white;
}

.form-control.custom-select {
  background: white;
}

.input-group.date {
  position: relative;

  .input-group-append {
    display: none;
  }

  input {
    border-radius:6px !important;
    padding-right: 40px;
  }

  &:after {
    content:'';
    display: block;
    width: 15px;
    height: 15px;
    @include background-vector(calendar, contain);
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
  }

}

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: white;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  @include background-vector(icon_triangle, contain);
  background-position: center;
}

.ui-datepicker-calendar {

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ffffff !important;
  }

}



.ui-datepicker .ui-datepicker-next span {
  transform: rotate(180deg);
}

body {

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: $primary-font;
    font-size: 0.95rem;
  }

  .ui-widget {
    font-family: $primary-font;
    font-size: 0.95rem;
  }

}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 40px;
 min-width:40px;
 height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 16px;
 width: 16px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: $green;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(16px);
 -ms-transform: translateX(16px);
 transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 50px;
}

.slider.round:before {
 border-radius: 50%;
}

label h4 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
