h1,h2,h3,h4 {
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  font-weight:600;
}

h4 {
  font-size:1.4rem;
}

h3 {
  line-height:inherit;
}

h5,h6 {
  font-family: $primary-font;
}

h5 {
  font-size: 1.1rem;
}

.bold {
  font-weight:bold;
}

ol, ul {
    padding-left: 1.2rem;
}

.pink {
  color:$pink !important;
}


ul.list > li,ul.list-unstyled > li {

  &::marker {
    color: $pink;
  }

  ul li::marker {
    color: $pink;
  }

}
