<section>

	<h2 class="mt-5 mb-4">Checks</h2>

	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
	  <label class="form-check-label" for="flexCheckDefault">
	    Default checkbox
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
	  <label class="form-check-label" for="flexCheckChecked">
	    Checked checkbox
	  </label>
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Checks disabled</h2>

	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
	  <label class="form-check-label" for="flexCheckDisabled">
	    Disabled checkbox
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
	  <label class="form-check-label" for="flexCheckCheckedDisabled">
	    Disabled checked checkbox
	  </label>
	</div>

</section>


<section>

	<h2 class="mt-5 mb-4">Radios</h2>

	<div class="form-check">
	  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
	  <label class="form-check-label" for="flexRadioDefault1">
	    Default radio
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
	  <label class="form-check-label" for="flexRadioDefault2">
	    Default checked radio
	  </label>
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Radios disabled</h2>

	<div class="form-check">
	  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
	  <label class="form-check-label" for="flexRadioDisabled">
	    Disabled radio
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
	  <label class="form-check-label" for="flexRadioCheckedDisabled">
	    Disabled checked radio
	  </label>
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Switches</h2>

	<div class="form-check form-switch">
	  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
	  <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
	</div>
	<div class="form-check form-switch">
	  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
	  <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
	</div>
	<div class="form-check form-switch">
	  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
	  <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
	</div>
	<div class="form-check form-switch">
	  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
	  <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
	</div>

</section>
