<section>

	<h2 class="mt-5 mb-4">Basic example</h2>

	<div class="input-group">
	  <input type="date" class="form-control" placeholder="Select date" aria-label="Date" aria-describedby="date">
	</div>

</section>
