<section>

	<h2 class="mt-5 mb-4">Basic example</h2>

	<div class="mb-3">
	  <label for="exampleFormControlInput1" class="form-label">Email address</label>
	  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	</div>
	<div class="mb-3">
	  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Sizing</h2>

	<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
	<input class="form-control mt-2" type="text" placeholder="Default input" aria-label="default input example">
	<input class="form-control form-control-sm mt-2" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">

</section>

<section>

	<h2 class="mt-5 mb-4">Disabled</h2>

	<input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
	<input class="form-control mt-2" type="text" placeholder="Disabled readonly input" aria-label="Disabled input example" disabled readonly>

</section>

<section>

	<h2 class="mt-5 mb-4">File input</h2>

	<div class="mb-3">
	  <label for="formFile" class="form-label">Default file input example</label>
	  <input class="form-control" type="file" id="formFile">
	</div>
	<div class="mb-3">
	  <label for="formFileMultiple" class="form-label">Multiple files input example</label>
	  <input class="form-control" type="file" id="formFileMultiple" multiple>
	</div>
	<div class="mb-3">
	  <label for="formFileDisabled" class="form-label">Disabled file input example</label>
	  <input class="form-control" type="file" id="formFileDisabled" disabled>
	</div>
	<div class="mb-3">
	  <label for="formFileSm" class="form-label">Small file input example</label>
	  <input class="form-control form-control-sm" id="formFileSm" type="file">
	</div>
	<div>
	  <label for="formFileLg" class="form-label">Large file input example</label>
	  <input class="form-control form-control-lg" id="formFileLg" type="file">
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Datalist</h2>

	<label for="exampleDataList" class="form-label">Datalist example</label>
	<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
	<datalist id="datalistOptions">
	<option value="San Francisco">
	<option value="New York">
	<option value="Seattle">
	<option value="Los Angeles">
	<option value="Chicago">
	</datalist>

</section>
