<section>

	<h2 class="mt-5 mb-4">Basic example</h2>

		<div class="input-group mb-3">
	  <span class="input-group-text" id="basic-addon1">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
	</div>

	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
	  <span class="input-group-text" id="basic-addon2">@example.com</span>
	</div>

	<label for="basic-url" class="form-label">Your vanity URL</label>
	<div class="input-group mb-3">
	  <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
	  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
	</div>

	<div class="input-group mb-3">
	  <span class="input-group-text">$</span>
	  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
	  <span class="input-group-text">.00</span>
	</div>

	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
	  <span class="input-group-text">@</span>
	  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
	</div>

	<div class="input-group">
	  <span class="input-group-text">With textarea</span>
	  <textarea class="form-control" aria-label="With textarea"></textarea>
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Sizing</h2>

	<div class="input-group input-group-sm mb-3">
	  <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
	  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
	</div>

	<div class="input-group mb-3">
	  <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
	  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
	</div>

	<div class="input-group input-group-lg">
	  <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
	  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Multiple inputs</h2>

	<div class="input-group">
	  <span class="input-group-text">First and last name</span>
	  <input type="text" aria-label="First name" class="form-control">
	  <input type="text" aria-label="Last name" class="form-control">
	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Button addons</h2>

	<div class="input-group mb-3">
	  <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
	  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
	</div>

	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
	  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
	</div>

	<div class="input-group mb-3">
	  <button class="btn btn-outline-secondary" type="button">Button</button>
	  <button class="btn btn-outline-secondary" type="button">Button</button>
	  <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
	</div>

	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
	  <button class="btn btn-outline-secondary" type="button">Button</button>
	  <button class="btn btn-outline-secondary" type="button">Button</button>
	</div>

</section>
