<section>

	<h2 class="mt-5 mb-4">Basic example</h2>

	<div class="card">

		<div class="mb-3">
		  <label for="formGroupExampleInput" class="form-label">Example label</label>
		  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
		</div>
		<div class="mb-3">
		  <label for="formGroupExampleInput2" class="form-label">Another label</label>
		  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
		</div>

	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Form grid</h2>

	<div class="card">

		<div class="row">
		  <div class="col">
		    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
		  </div>
		  <div class="col">
		    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
		  </div>
		</div>

	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Complex layout</h2>

	<div class="card">

		<form class="row g-3">
		  <div class="col-md-6">
		    <label for="inputEmail4" class="form-label">Email</label>
		    <input type="email" class="form-control" id="inputEmail4">
		  </div>
		  <div class="col-md-6">
		    <label for="inputPassword4" class="form-label">Password</label>
		    <input type="password" class="form-control" id="inputPassword4">
		  </div>
		  <div class="col-12">
		    <label for="inputAddress" class="form-label">Address</label>
		    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
		  </div>
		  <div class="col-12">
		    <label for="inputAddress2" class="form-label">Address 2</label>
		    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
		  </div>
		  <div class="col-md-6">
		    <label for="inputCity" class="form-label">City</label>
		    <input type="text" class="form-control" id="inputCity">
		  </div>
		  <div class="col-md-4">
		    <label for="inputState" class="form-label">State</label>
		    <select id="inputState" class="form-select">
		      <option selected>Choose...</option>
		      <option>...</option>
		    </select>
		  </div>
		  <div class="col-md-2">
		    <label for="inputZip" class="form-label">Zip</label>
		    <input type="text" class="form-control" id="inputZip">
		  </div>
		  <div class="col-12">
		    <div class="form-check">
		      <input class="form-check-input" type="checkbox" id="gridCheck">
		      <label class="form-check-label" for="gridCheck">
		        Check me out
		      </label>
		    </div>
		  </div>
		  <div class="col-12">
		    <button type="submit" class="btn btn-primary">Sign in</button>
		  </div>
		</form>

	</div>

</section>

<section>

	<h2 class="mt-5 mb-4">Horizontal form</h2>

	<div class="card">

		<form>
		  <div class="row mb-3">
		    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3">
		    </div>
		  </div>
		  <div class="row mb-3">
		    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="inputPassword3">
		    </div>
		  </div>
		  <fieldset class="row mb-3">
		    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
		    <div class="col-sm-10">
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
		        <label class="form-check-label" for="gridRadios1">
		          First radio
		        </label>
		      </div>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
		        <label class="form-check-label" for="gridRadios2">
		          Second radio
		        </label>
		      </div>
		      <div class="form-check disabled">
		        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
		        <label class="form-check-label" for="gridRadios3">
		          Third disabled radio
		        </label>
		      </div>
		    </div>
		  </fieldset>
		  <div class="row mb-3">
		    <div class="col-sm-10 offset-sm-2">
		      <div class="form-check">
		        <input class="form-check-input" type="checkbox" id="gridCheck1">
		        <label class="form-check-label" for="gridCheck1">
		          Example checkbox
		        </label>
		      </div>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Sign in</button>
		</form>

	</div>

</section>
