<section>

	<h2 class="mt-5 mb-4">Default</h2>

	<label for="customRange1" class="form-label">Example range</label>
	<input type="range" class="form-range" id="customRange1">

</section>

<section>

	<h2 class="mt-5 mb-4">Disabled</h2>

	<label for="disabledRange" class="form-label">Disabled range</label>
	<input type="range" class="form-range" id="disabledRange" disabled>

</section>
