<section>

  <h2 class="mt-5 mb-4">Bar chart</h2>

  <div class="card">
    <div id="chart1" class="ct-chart ct-perfect-fourth" style="height:500px;"></div>
  </div>

  <script>

    new Chartist.Bar('#chart1', {
      labels: ['XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'],
      series: [20, 60, 120, 200, 180, 20, 10]
    }, {
      distributeSeries: true
    });

  </script>

</section>

<section>

  <h2 class="mt-5 mb-4">Stacked bar chart</h2>

  <div class="card">
    <div id="chart2" class="ct-chart ct-perfect-fourth" style="height:500px;"></div>
  </div>

  <script>

    new Chartist.Bar('#chart2', {
  labels: ['Q1', 'Q2', 'Q3', 'Q4'],
  series: [
    [800000, 1200000, 1400000, 1300000],
    [200000, 400000, 500000, 300000],
    [100000, 200000, 400000, 600000]
  ]
}, {
  stackBars: true,
  axisY: {
    labelInterpolationFnc: function(value) {
      return (value / 1000) + 'k';
    }
  }
}).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 30px'
    });
  }
});


  </script>

</section>

<section>

  <h2 class="mt-5 mb-4">Line chart</h2>

  <div class="card">
    <div id="chart3" class="ct-chart ct-perfect-fourth" style="height:500px;"></div>
  </div>

  <script>

    new Chartist.Line('#chart3', {
    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    series: [
      [12, 9, 7, 8, 5],
      [2, 1, 3.5, 7, 3],
      [1, 3, 4, 5, 6]
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

  </script>

</section>


<section>

  <h2 class="mt-5 mb-4">Pie chart</h2>

  <div class="card">
    <div id="chart4" class="ct-chart ct-perfect-fourth" style="height:500px;"></div>
  </div>

  <script>

    var data = {
    series: [5, 3, 4]
  };

  var sum = function(a, b) { return a + b };

  new Chartist.Pie('#chart4', data, {
    labelInterpolationFnc: function(value) {
      return Math.round(value / data.series.reduce(sum) * 100) + '%';
    }
  });

  </script>

</section>

<section>

  <h2 class="mt-5 mb-4">Doughnut chart</h2>

  <div class="card">
    <div id="chart5" class="ct-chart ct-perfect-fourth" style="height:500px;"></div>
  </div>

  <script>

    new Chartist.Pie('#chart5', {
      series: [20, 10, 30, 40]
    }, {
      donut: true,
      donutWidth: 20,
      donutSolid: true,
      startAngle: 270,
      showLabel: true
    });


  </script>

</section>
