#container {

  #MainContent_PersonSummary_pnlHeader {
    padding: 20px 20px 0px 20px !important;

    @include media-breakpoint-up(md) {
      padding: 40px 30px 0px 30px !important;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px 40px 0px 40px !important;
    }

    .row {

      > div {

        @include media-breakpoint-up(lg) {
          flex:50%;
          width:50%;
        }

      }

    }

    > .navbar {

      @media (min-width: 992px) {
        flex-wrap: nowrap !important;
      }

      #MainContent_PersonSummary_pnlCommands .btn-group {
        width: 100%;

        .navbar {
            width: 100%;

            @include media-breakpoint-up(md) {
            }
        }

        .navbar-nav {

          @include media-breakpoint-up(md) {
            flex-direction: row;
            gap: 5px;

            .dropdown-menu {
              position: absolute;
              left: initial;
              right: 0;

                li a {
                    display: block;
                }

                .dropdown-submenu .dropdown-menu {
                  position: static !important;
                }

            }

          }

          .btn-group {
            display: block;

            @media (min-width: 992px) {
              margin-bottom:0;
            }

            .btn {
                width: 100%;
            }

          }

        }

      }

    }

    .navbar-toggler {
      @include media-breakpoint-up(md) {
        display: flex;
      }
      @media (min-width: 992px) {
        display: none;
      }
    }

    #MainContent_PersonSummary_pnlCommands {

      > div {
          @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: flex-end;
        }

        .navbar-expand-lg .navbar-collapse {

          @media (min-width: 992px) {
            justify-content: flex-end;
            margin-top: 9px;
          }

        }


      }

    }

  }

}

.peopleDashboardScroll {

  @include media-breakpoint-up(md) {
    overflow: auto;
    height: calc(100vh - 380px);
  }

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 330px);
  }

}

#home_menu {
  padding: 40px 40px 0 40px;

  @include media-breakpoint-up(lg) {
    padding: 105px 40px 0 260px;
    margin: 0 0 -90px 0;
  }

  .navbar-nav.flex {
    flex-direction: row;
    justify-content: flex-end;

    li {
      margin: 0 6px;

      &:last-child {
        margin-right:0;
      }

    }

  }

}

#MainContent_PersonSummary_ulmenu {

  a {
    background: white;
    border-color: #b0b0b0;

    &:hover {
      border-color: #565e64;
    }

  }

}

#MainContent_PersonSummary_breadcrumb {
  display: block;
  margin: 0;

  li {
    color:$black !important;
  }

  a {
    color:$black !important;
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:600;
    font-size: 1.4rem;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }

    .badge {
      background: $pink !important;
      opacity: 1;
      font-size: 0.8rem;
      padding: 8px;
      display: inline-block;
      margin: 0 10px 0 0;
      position: relative;
      top: -5px;

      @include media-breakpoint-up(md) {
        font-size: 0.9rem;
        padding: 6px 10px;
      }

    }

  }

  #MainContent_PersonSummary_liProduct {
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;

    a {
      letter-spacing: 0.05rem;
      font-weight:500;
      font-size: 1.1rem;
      margin-right:10px;
    }

  }

}

#MainContent_PersonSummary_liStatus {
  margin-top: 30px;
  margin-bottom: 20px;
}

#MainContent_PersonSummary_pnlCommands {

  .btn-group {
    margin:0 3px 10px 3px;
  }

}



#MainContent_PersonSummary_liModule {
  display: none;
}

#MainContent_PersonSummary_liStatus {

  .label {
    background:#6c757d;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;

    &.label-primary {
      background: $pink;
    }

    &.label-secondary {
      background: $gray-600;
    }

    &.label-danger {
      background: $red;
    }

    &.label-success {
      background: $green;
    }

    &.label-warning {
      background: $orange;
    }

    &.label-info {
      background: #00276A;
    }

    &.label-light {
      background: $gray-100;
    }

    &.label-dark {
      background: $gray-900;
    }

  }

}

#container {

  #MainContent_contentpanel, #MainContent_rightpanel  {
    padding: 20px !important;

    @include media-breakpoint-up(md) {
      padding: 30px !important;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px !important;
    }

    #peoplePanel {
      margin-top: 10px;
    }

    .card .panel {
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        display: block;
        margin: 0;
    }

    .panel,  .panel {
      box-shadow: 0px 14px 24px rgba(7, 28, 64, 0.06);
      border-radius: 10px;
      border:none;
      padding:25px;
      background:white;
      margin-bottom:30px;
      display: flex;
      flex-direction: column;

      .panel {
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        display: block;
        margin: 0;
      }

      .form-control {
        margin-bottom: 5px;
      }

      &.bg-info {
        color:white !important;
      }

      .card-img-top {
        margin-bottom:20px;
      }

      .panel-heading {
        font-family: $secondary-font;
        letter-spacing: 0.1rem;
        font-weight:500;
        font-size:1.2rem;
        margin-bottom:20px;
        background: none;
        padding: 0;
      }

      .panel-body {
        padding: 0;
        font-size: 0.9rem;
      }

      &.bg-dark, &.bg-info, &.bg-danger, &.bg-success, &.bg-secondary, &.bg-primary, &.bg-warning {
        .card-header {
          border-bottom:1px solid white;
        }
      }

      .panel-footer {
        background:none;
        margin-top:20px;
        padding: 20px 0 0 0;
      }

      &.dark {
        background:$dark-blue;
        color:white;
      }

      &.money {

        h4 {
          font-size: 1.2rem;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 30px;

          i {
            display: inline-block;
            width:25px;
            height:25px;
            margin-right:12px;
          }

          > a {
            text-decoration: none;
            color:white;

            &:hover {
              background:none;
              color:$pink;
            }

          }

          div {
            margin: 0 0 15px 0;
            padding-right: 10px;
          }

          div, span {
            display: flex;
            align-items: center;
          }

          &.money-in {

            i {
              @include background-vector(icon_pink_arrow_up, contain);
            }

          }

          &.money-out {

            i {
              @include background-vector(icon_pink_arrow_down, contain);
            }

          }

          &.valuation {

            i {
              @include background-vector(icon_pink_valuation, contain);
              position: relative;
              top: -4px;
            }

          }

        }

        a {
          color: white;
          text-decoration: none;
          font-weight: 600;
        }

      }

    }

    .col-md-3, .col-md-5 {

      > hr, > br {
        display: none;
      }

    }

    .notes-scroll {
      height: auto;
    }

    #pnlNotes {

      .panel {
        padding: 0;
        box-shadow: none;
        border-bottom: 1px solid #CCCCCC;
        border-radius: 0;
        padding-bottom: 20px;

        .panel-footer {
          margin-top:0;
          padding: 5px 0 0 0;
        }
      }

    }

    .transactions {

      i {
        font-size: 24px;
        color: $pink;
      }

    }

    #myChart {
      transform: scale(0.9);
      margin: 0 auto;
      text-align: center;
      position: relative;
      right: -25px;
    }

  }

}

#MainContent_ctl00_pnlViewExtraDetail {

  .panel-heading {
    margin:0;
  }

}


#divClientDocs, #divPartnerDocs, #divCPDocumentDocs, #divBCDocumentDocs {
  background: $dark-blue;
  padding: 20px;
  border-radius: 10px;
}


/* Advanced Filter css  */
.dropbtn {
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    z-index: 999;
}


// #newbusinesschecklisttable.table{
//
//   td {
//       padding: 15px;
//   }
//
// }

.dropbtn:hover, .dropbtn:focus {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 70vw;
  overflow: visible;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 59999;
  padding: 15px;
  background:white;
  padding:30px;
  margin-top:10px;

  @include media-breakpoint-up(md) {
    min-width: 570px;
  }

}

#filterDropdown .filterDropDown {
  min-width: 40rem !important;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
  display: block;
}

.fade:not(.show) {
  opacity: 1;
}


#myTabContent i {
  font-size: 20px;
}
