// Tables

table {

  .actions {
    text-align: right;

    a {
      margin:0 8px;
    }

  }

  &.files {
    tr td:first-child {
      i {
        opacity: 0.6;
        margin-right:5px;
      }
    }
  }

}


// Status icon

.status-icon {
  display: inline-block;
  width:12px;
  height:12px;
  border-radius:12px;

  &.green {
    background:$green;
  }

  &.orange {
    background:$orange;
  }

  &.red {
    background:$red;
  }


}
