
#dashboardDetails {

  .row.cards {

    > div {
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        margin-bottom:0;
      }

    }

  }

  #carouselExampleIndicators {
    display: none;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    .carousel-indicators {
      display: none;
    }

    .carousel-item {

      .row {
        height: 100%;
      }

    }

    .card-title {
      padding: 10px 0 0 0;
    }

    h2 {
      display: flex;
      justify-content: space-between;
    }

    .card-body {
      background:$dark-blue !important;
      border-radius: 10px;
      padding:30px !important;
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      justify-content: flex-end;

      &.provider-logo {
        flex-direction: column;
        background: white !important;
        justify-content: flex-start;
      }

    }

    .card {

       i {
         content:'';
         display: block;
         width:50px;
         height:50px;
       }

       &.Weekly-Sales {

         i {
           @include background-vector(icon_pink_clients, contain);
         }

       }

       &.Product-Inserted {

         i {
           @include background-vector(icon_pink_products, contain);
         }

       }

       &.Portfolios-Updated {

         i {
           @include background-vector(icon_pink_refresh, contain);
         }

       }

       &.Funds-Updated {

         i {
           @include background-vector(icon_pink_funds, contain);
         }

       }

    }

    .carousel-control-prev, .carousel-control-next  {
      margin: 0 20px;
      width:30px;
      height: 30px;
      top:initial;
      bottom: 20px;

      .sr-only {
        display: none;
      }

    }

    .carousel-control-prev {
      filter: invert(1);
      opacity: 0.3;
    }

  }

  #Module_1_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ul {
      position: relative;
      margin: 0;
    }

    .ct-chart-donut {
      margin:0;
    }
  }

  .row.cards {
    // max-height: 400px;

    .col-lg-12 {

      .card-title {
        position: relative;

        .card-edit {
          position: absolute;
          right: 20px;
          left: initial;
        }

        > span {
          margin-right: 30px;
        }

      }

      .comment-widgets {
        overflow: auto;
        height: 100% !important;
      }

    }

  }


  .total-sales {
    max-height: 300px;
  }

  .card {
    padding:0;
    height: 100%;
  }

  .card-title {

    > span {
      margin-left: auto;
      margin-right: 10px;
    }

  }

  .card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .card-title {
    padding:30px 30px 20px 30px;
    margin:0;
  }

  .card-edit {
    position: relative;
    left: 10px;
  }

  .slimScrollDiv {
    padding: 0 30px;
  }

  .message-scroll {
    padding: 0 20px;
  }

  .comment-widgets {
    padding: 0 30px;
    height: auto !important;
    overflow: auto;

    > ul {
      padding:0;
      list-style: none;
    }

  }

  .quick-links {

    li {
      display: flex;
      margin-bottom:20px;

      &:last-child {
        marign-bottom:0;
      }

      > div {
        padding-right: 12px;

        i {
          color:$pink;
          font-size:1.3rem;
        }

      }

      a {
        text-decoration: none;

        &.active {
          color:$pink;
        }

      }

    }


  }

  .todo-list {

    label {
      display: flex;
      justify-content: space-between;
    }

  }

  .list-group-item {
    padding: 0.9rem 0;
  }

  .total-sales {
    clear: both;
  }

  .key {
    margin: 0;
    padding-right: 30px;
    display: flex;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 30px;
      right: 60px;
    }

    i {
      font-size: 11px;
      margin: 0 10px;
    }

    li {
      margin-left:20px;

      h6 {
        margin:0;
      }

    }

  }

  .legendColorBox {

    > div {
      border-radius: 30px;
      border: none;

      > div {
        border-radius: 30px;
      }

    }

  }

  .comment-row {
    align-items: center;

    h5 {
      margin:0;

      a {
        text-decoration: none;
        font-size: 1rem;
      }

    }

  }

}

.u-userLauncherColor:not([disabled]) {
  background-color: #ffffff !important;
  border: 1px solid #bfbfbf !important;
  padding: 13px;
}
