#integrations {

  .row {
    display: none;
  }

  .tab-pane {
    width: calc(100% + 30px);
    margin-left: -15px;

    &.active {
      display: flex;
      flex-wrap: wrap;
    }

    > div {
      // margin: 15px 0;

      @include media-breakpoint-up(md) {
        margin: 15px;
        width: calc(25% - 30px);
      }

    }

  }

}
