// Remove

html {
	&.fix {
		overflow:hidden;
	}
}
body {
	background-color:#F0F2F7;
	font-family: $primary-font;
}

#container,#SearchDetails {

	@include media-breakpoint-up(lg) {
		padding-left: 220px;
		padding-top: 70px;
	}

}

.page-wrapper {
	background:none;
	padding-top:0;
}

.container-fluid {
	padding: 0;
}

.page-titles .card {
	background:none;
	box-shadow: none;
	border-radius:0;
}

#container {

 > div:not(.modal) {
	 padding:40px !important;
 }

 .page-titles {
	 margin-bottom:20px;
 }

}


// Title and toggle button

.title-toggle {
	margin: 20px 0 30px 0;

	@include media-breakpoint-up(md) {
		margin: 20px 0 50px 0;
	}

	h2 {
		position: absolute;
	}

	.container-fluid {
		justify-content: flex-end;
	}

	.navbar-toggler {
		margin: 0 0 0 auto;
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	.navbar-nav {

		> li {
			 margin: 15px 0 0 0 !important;

			 @include media-breakpoint-up(md) {
				margin: 0 0 0 10px !important;
			 }

			.btn {
				display: block;
				padding: 10px;

				@include media-breakpoint-up(md) {
					display: flex;
					align-items: center;
					text-align: left;
					white-space: nowrap;
					padding: 5px 10px;
				}

				i {
					margin: 0 10px 0 0;
					font-size: 1rem;
				}

			}

		}

	}

}

// Top actions

#container > div.top-actions {
	padding:40px 40px 0px 40px !important;

	@include media-breakpoint-up(md) {
		padding:40px 20px 40px 40px !important;
	}

	@include media-breakpoint-up(lg) {
		padding:40px 40px 0 40px !important;
	}

	.navbar {
		padding: 0;
		width: 100%;

		.navbar-nav {
			clear: both;
			margin: 10px 0;

			@include media-breakpoint-up(md) {
				display: flex;
				align-items: center;
				flex-direction: row;
			}

		}

		.container-fluid {
				justify-content: flex-end;

				@include media-breakpoint-up(md) {
					justify-content: space-between;
				}

		}



		.navbar-collapse {
			padding: 30px 0 0;

			@include media-breakpoint-up(md) {
				padding:0;
			}

			li {
				 margin: 15px 0 0 0 !important;

				 @include media-breakpoint-up(md) {
				 	margin: 0 0 0 10px !important;
				 }

				.btn {
					display: block;
					padding: 10px;

					@include media-breakpoint-up(md) {
						display: flex;
						align-items: center;
						text-align: left;
						white-space: nowrap;
					}

					i {
						margin: 0 10px 0 0;
						font-size: 1rem;
					}

				}

			}

			.dropdown-menu {
				li {
					margin:0 !important;
				}
			}

		}

		.form-control {
			width: calc(100% - 100px);
			float: left;
			padding: 8px 20px;
			border-color: #b0b0b0;

			@include media-breakpoint-up(md) {
				margin-right: 10px;
			}

		}

		input.btn {
			margin:0;
			float: right;

			@include media-breakpoint-up(md) {
		    margin: 0 80px 0 0;
			}

		}

	}

}


// Card scrolls

// #MainContent_rightpanel {
//
// 	.card {
// 		max-height: calc(100vh - 350px);
// 		overflow: auto;
//
// 		.card-body {
//
// 			> div {
// 				overflow-y:hidden;
// 				height:auto;
// 			}
//
// 		}
//
// 	}
//
// }

// #MainContent_contentpanel {
//
// 	> .col-12 {
//
// 		> .card {
// 			max-height: 50vh;
// 			overflow: auto;
// 		}
//
// 	}
//
// }


// Updates found


.seeting-page-scrollbar {
height: 410px;
overflow-y: auto;
}
.divider {
border-bottom: 1px solid #888888;
}
.Docicon {
color: black !important;
opacity: 0.4;
}
.generatingReportSpinner {
width: 330px;
padding: 40px !important;
border-radius: 5px;
background: #f7f7f7;
position: fixed;
bottom: 70px;
right: 30px;
z-index: 9999;
border: #d8d8d8 1px solid;
box-shadow: 3px 3px 10px #dbdbdb;
text-align: center;
}
.generatingReportSpinner h3 {
margin-top: 25px;
line-height: 30px;
font-size: 21px;
color: #2c2b2e !important;
}

.note-editor .dropdown-toggle::after {
all: unset;
}
.note-editor .note-dropdown-menu {
box-sizing: content-box;
}
.note-editor .note-modal-footer {
box-sizing: content-box;
}
.multiselect-selected-text {
display: inline-block;
max-width: 100%;
word-break: break-all;
white-space: normal;
}
