header.topbar {
  top: 0;
  height: 120px;
  box-shadow: 0px -2px 10px #d7d7d7;
  z-index: 100;

  @include media-breakpoint-up(lg) {
    height: 70px;
    max-width: calc(100% - 220px) !important;
    right: 0;
    position: fixed;
    left: initial;
    min-width: calc(100% - 220px);
    background:white;
  }

  nav.top-navbar {
    right: 0;
    padding:0;
    left: initial;
    height: 70px;
    width: 100%;
    background-color:$dark-blue !important;

    @include media-breakpoint-up(lg) {
      max-width: calc(100% - 220px) !important;
      background-color:white !important;
      padding-left:0;
    }

    .navbar-nav {
      position: absolute;
      right: 20px;
      flex-direction: row;

      @include media-breakpoint-up(lg) {
        height: 100%;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:20px;
        right:0;
      }

      > ul {
        list-style: none;
        display:flex;
        padding:0;
        margin:0;
        min-width: 80px;
        justify-content: space-between;
      }

      .bi-chat-right {
        font-size: 19px;
        color: $pink;

        @include media-breakpoint-up(lg) {
          color: #999;
        }

      }

      .round-menu {
        padding: 10px;
      }

      .dropdown-menu {
        position: fixed;
        float: none;
        left: 25px;
        top: 67px;
        width: calc(100vw - 50px);
        padding: 10px;
        border-radius: 10px;

        @include media-breakpoint-up(md) {
          position: absolute;
          right: 0;
          top:55px;
          left: initial;
          width:300px;
        }

        h5 {
          font-family: $secondary-font;
          letter-spacing: 0.1rem;
          font-weight:600;
          font-size: 1.3rem;
          margin-bottom: 10px !important;
        }

        ul {
          list-style: none;
          padding:0;

          li {

            a {
              display: block;
              margin: 8px 0;
              color:$black;
              text-decoration: none;
            }

          }

        }

      }

    }

    #searchArea {
      @include media-breakpoint-up(lg) {
        width: calc(100% - 120px);
      }

      .srh-btn {
        width: calc(100% - 120px);
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        height: 100%;
        padding-left: 35px;
        padding-top: 4px;

        i {
          font-size: 19px;
          color:#999;
        }

      }

      &.app-search1 {

        .srh-btn {
          display: none;
        }

      }


    }

    .dropdown-toggle {

      &:after {
        display: none;
      }

    }

  }

  #searchArea {

    @include media-breakpoint-down(lg) {
      background: white;
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      height: 50px;
      display: flex;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      padding: 0;
      margin: 0;
    }

    input#txtSearch {
      margin-right: 10px;

      @include media-breakpoint-down(lg) {
        margin-right: 10px;
        padding: 0 20px;
        height: 100%;
        border-radius: 0;
        border: none;
        outline: none;

        &:focus {
          outline:none;
          box-shadow: none;
        }
      }

    }

  }


  #mobile-nav-logo {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 40px;
    @include background-vector(logo, contain);
    overflow:hidden;
    text-indent:-300px;

    @include media-breakpoint-up(lg) {
      display: none;
    }

  }

  #nav-icon {
    display: block;
    width: 20px;
    height: 25px;
    position: absolute;
    left: 25px;
    top: 15px;
    border: none;
    outline: none;
    overflow:hidden;
    z-index:20;

    @include media-breakpoint-up(lg) {
      display:none;
      top: 8px;
    }

  }

  #nav-icon:after,
  #nav-icon:before,
  #nav-icon div {
    background-color: $pink;
    content: '';
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-in-out;
  }

  #nav-icon.active:before {
    transform: translateY(8px) rotate(135deg);
  }

  #nav-icon.active:after {
    transform: translateY(-8px) rotate(-135deg);
  }

  #nav-icon.active div {
    transform: scale(0);
  }

}
