.chat-main-box {
  padding: 0 10px;
  overflow: auto;

  @include media-breakpoint-up(md) {
    height: calc(100vh - 300px);
  }

}

.chat-left-aside,.chat-left-aside-full {
  background: $dark-blue;
  padding: 30px;
  border-radius: 6px;

  @include media-breakpoint-up(md) {
    max-width: 350px;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255,255,255,0.3);    /* color of the scroll thumb */
    }

  }

  .chat-left-inner {
    height: 100% !important;
    overflow: auto;
  }

  li small.d-block > span:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &.open-pnl {
    max-width:initial;

    li small.d-block > span:first-child {
      display: block;
      -webkit-line-clamp: initial;
      -webkit-box-orient: initial;
      overflow: initial;
    }

  }

  h3.box-title {
    margin-bottom: 30px;
  }

  li {

    a {
      //color:white;
      text-decoration: none;

      > div {
        flex: auto;
      }

    }

    i {
      color:$pink;
      margin-right: 20px;
      align-self: flex-start !important;
    }

  }

}

.chat-right-aside {
  padding: 30px 0 0;

  @include media-breakpoint-up(md) {
    width: calc(100% - 350px);
    height: 100%;
    padding-bottom:0;
    position: relative;
    padding: 0 0 0 30px;
  }

  .chat-main-header {
    position: absolute;
  }

  > .card-body  {
    margin-top: 30px;
  }

  .chat-rbox {
    height: auto;
    overflow: auto;
    padding: 60px 0 20px 0;

    @include media-breakpoint-up(md) {
      height: calc(100% - 100px);
    }

  }

  .b-t {
    textarea {
      border-radius: 6px !important;
    }

     @include media-breakpoint-up(md) {
       position: relative;
       margin: 0;
       bottom: 0;
       height:100px;
       width: 100%;

      textarea {
        height: 100px;
        margin-right: 100px;
      }

    }

  }

  #inputTextMessage {

    .input-group-prepend {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 15px 0 0 0;


      @include media-breakpoint-up(md) {
        position: absolute;
        bottom:0;
        right:0;
        padding:0;
      }

      .bi-paperclip {
        font-size:22px;
        display: flex;
        align-items: center;
        margin-right: 15px;
      }

      .btn-circle {
        width: 40px;
        height: 40px;
      }

    }

  }

}

.messagecnt {
  height: 700px;
}

.messages-table {

  thead {
    display: none;

    th {
      width: 100%;
      display: block;
      padding: 0;
    }

  }

  tbody {
    display: flex;
    flex-direction: column;

    > tr > td {
      width: 100%;
      display: block;
      padding:0;
    }

  }

}

#UlChatMessages {

  li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .chat-content {
      min-width: 50%;
    }

    .chat-img {
      width: 43px;
      height: 43px;
      margin-right: 20px;

      img {
        width:100%;
        height:100%;
      }

    }

    &.reverse {
      justify-content: flex-end;
      text-align: right;

      .chat-img {
        margin-right: 0px;
        margin-left: 20px;
      }

    }

  }

}
