.mortgage-intro {

	ul {
		padding:0;
		list-style:none;

		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			margin: 0;
		}


			li {
				margin-bottom: 20px;
				padding-right:30px;

				&:last-child {
					margin-bottom:0;
					padding-right:0;
				}

				@include media-breakpoint-up(md) {
					margin-bottom:0;
					flex-grow: 1;
					flex-basis: 0;
				}


			}

	}

}
