  #progress {

		h4{
			margin-bottom: 33px !important;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				min-height: 37px;
				margin-bottom: 10px;

				i {
					display: none;
				}

				a {
					position: relative;
					color:$black !important;
					padding: 6px 0 0 55px;

					&:before {
						content:'';
						display: inline-block;
						width:35px;
						height:35px;
						background:white;
						border-radius:35px;
						position: absolute;
						top: 0;
						left: 0;
						box-shadow: 0px 0px 0px 2px #dfdfdf;
					}

					&:after {
						content: '';
						display: block;
						width: 35px;
						height: 35px;
						position: absolute;
						top: 0;
						left: 0;
						line-height: 35px;
						text-align: center;
						font-size: 1.2rem;
					}

					&.active1 {

						&:before {
							box-shadow: 0px 0px 0px 2px $green;
						}

					}

          &.active {
  					opacity: 1;

  					&:before {
  						box-shadow: 0px 0px 0px 2px $pink;
  						background: $pink;
  					}

  					&:after {
  						color:white;
  					}

  				}

          &.complete {
  					opacity: 1;

  					&:before {
  						box-shadow: 0px 0px 0px 2px $green;
  					}

  				}

				}

        $number-of-rules: 100; // Set the number of rules you want

        @for $i from 1 through $number-of-rules {
          &:nth-child(#{$i}) a:after {
            content: '#{$i}';
          }
        }




			}

		}

		.list-group-item {
			background:none;
		}

	}

  form {

    section {
      border-bottom:1px solid $light-grey;
      padding-bottom:30px;

      &:last-child {
        border-bottom:0;
        padding-bottom:0;
        margin-bottom:0 !important;
      }

      h5 {
        font-family: $secondary-font;
        letter-spacing: 0.1rem;
        font-weight:600;
      }

      .notes {
        margin-bottom:0;
        h5 {
          font-size:1rem;
          margin-bottom:0;
        }
        a {
          margin-left:10px;

          i:before {
            position: relative;
            top: 6px;
          }
        }
      }



    }

  }
