
.fact-find-step.card {

  .step-title {

    h4 {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    .badge {
      border:1px solid $border-grey;
      background:white;
      margin-left:5px;
    }

  }

  .card-body {
    @include media-breakpoint-up(md) {
      padding-left: 30px;
    }
    label {
      font-size: 1rem;
    }
  }

  h5 {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:600;
  }

  .fields {

    ul {
      list-style: none;
      padding:0;

      li {
        display: flex;
        align-items: center;
        margin-bottom:10px;
      }
    }

    .btn {
      position: relative;
      left: 30px;
    }

  }

}

.move {
  margin-right: 10px;

  i {
    font-size: 20px;
    opacity: 0.5;
  }
}


[draggable] {
  user-select: none;
}

.drag-list {
  overflow: hidden;
  margin: 10px auto;
  width: 500px;
  border: 1px solid #ccc;
}

.drag-item {
  float: left;
  padding: 50px 20px;
  width: 25%;
  text-align: center;
  color: #555;
  background: #ddd;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.25s;
}

.drag-start {
  opacity: 0.8;
}

.drag-enter {
  opacity: 0.5;
  transform: scale(0.9);
}
