.searchTransition > .row {
	--bs-gutter-x: 0rem;
}


#SearchDetails {
	position: absolute;
	top: 0px;
	right: 0;
	width: 100%;
	padding-top: 120px;

	@include media-breakpoint-up(lg) {
	  padding-top: 70px;
	}

	.mail-contnet {
		margin-left: 15px;
	}

	.card {
		border-radius: 0;

		.card-title {
			margin-bottom: 30px !important;
		}

	}

	.message-box {

		.message-widget {

			> div {
				border-bottom: 1px solid #e6e6e6;
    		padding-bottom: 20px;

				&:last-child {
					padding-bottom:0;
					border-bottom:none;
				}

				a {
					text-decoration: none;

					.mail-contnet {

						span {
							font-size: 0.85rem;
							margin: 0 10px 0 0;
							color: grey;
						}

					}

				}

			}

		}

	}

}
