<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://use.typekit.net/itt0uco.css" rel="stylesheet" >
    <link href="src/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="style.css" rel="stylesheet" />

    <title>Adviser Cloud</title>

    <!-- Scripts -->
    <script src="src/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="src/js/jquery.dataTables.min.js"></script>
    <script src="src/js/dataTables.dataTables.min.js"></script>
    <script src="src/js/jquery.slimscroll.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="src/js/custom.js"></script>

  </head>
  <body>

    {% block header %} {% endblock %}

    <div id="container">

      <div id="content">

        <h1>Forms</h1>

        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="form-control-tab" data-bs-toggle="tab" data-bs-target="#form-control" type="button" role="tab" aria-controls="form-control" aria-selected="true">Form controls</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="select-tab" data-bs-toggle="tab" data-bs-target="#select" type="button" role="tab" aria-controls="select" aria-selected="true">Select</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="checks-radios-tab" data-bs-toggle="tab" data-bs-target="#checks-radios" type="button" role="tab" aria-controls="checks-radios" aria-selected="true">Checks and radios</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="range-tab" data-bs-toggle="tab" data-bs-target="#range" type="button" role="tab" aria-controls="range" aria-selected="true">Range</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="inputgroup-tab" data-bs-toggle="tab" data-bs-target="#inputgroup" type="button" role="tab" aria-controls="inputgroup" aria-selected="true">Input group</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="floatinglabels-tab" data-bs-toggle="tab" data-bs-target="#floatinglabels" type="button" role="tab" aria-controls="floatinglabels" aria-selected="true">Floating labels</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="layout-tab" data-bs-toggle="tab" data-bs-target="#layout" type="button" role="tab" aria-controls="layout" aria-selected="true">Layout</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="validation-tab" data-bs-toggle="tab" data-bs-target="#validation" type="button" role="tab" aria-controls="validation" aria-selected="true">Validation</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="datepicker-tab" data-bs-toggle="tab" data-bs-target="#datepicker" type="button" role="tab" aria-controls="datepicker" aria-selected="true">Date picker</button>
          </li>

        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="form-control" role="tabpanel" aria-labelledby="form-control-tab">
            {% block formcontrol %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="select" role="tabpanel" aria-labelledby="select-tab">
            {% block select %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="checks-radios" role="tabpanel" aria-labelledby="checks-radios-tab">
            {% block checksradios %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="range" role="tabpanel" aria-labelledby="range-tab">
            {% block range %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="inputgroup" role="tabpanel" aria-labelledby="inputgroup-tab">
            {% block inputgroup %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="floatinglabels" role="tabpanel" aria-labelledby="floatinglabels-tab">
            {% block floatinglabels %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="layout" role="tabpanel" aria-labelledby="layout-tab">
            {% block layout %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="validation" role="tabpanel" aria-labelledby="validation-tab">
            {% block validation %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="datepicker" role="tabpanel" aria-labelledby="datepicker-tab">
            {% block datepicker %} {% endblock %}
          </div>


        </div>

      </div>

    </div>

    {% block sidenavbootstrap %} {% endblock %}

  </body>

</html>
