<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://use.typekit.net/itt0uco.css" rel="stylesheet" >
    <link href="src/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="style.css" rel="stylesheet" />

    <title>Adviser Cloud</title>

    <!-- Scripts -->
    <script src="src/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="src/js/jquery.dataTables.min.js"></script>
    <script src="src/js/dataTables.dataTables.min.js"></script>
    <script src="src/js/jquery.slimscroll.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="src/js/custom.js"></script>

  </head>
  <body>

    {% block header %} {% endblock %}

    <div id="container">

      <div id="content">

        <h1>Components</h1>

        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="accordian-tab" data-bs-toggle="tab" data-bs-target="#accordian" type="button" role="tab" aria-controls="accordian" aria-selected="true">Accordian</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="alerts-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button" role="tab" aria-controls="alerts" aria-selected="true">Alerts</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="badge-tab" data-bs-toggle="tab" data-bs-target="#badge" type="button" role="tab" aria-controls="badge" aria-selected="true">Badges</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="breadcrumb-tab" data-bs-toggle="tab" data-bs-target="#breadcrumb" type="button" role="tab" aria-controls="breadcrumb" aria-selected="true">Breadcrumbs</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="buttons-tab" data-bs-toggle="tab" data-bs-target="#buttons" type="button" role="tab" aria-controls="buttons" aria-selected="true">Buttons</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="button-group-tab" data-bs-toggle="tab" data-bs-target="#button-group" type="button" role="tab" aria-controls="button-group" aria-selected="true">Button group</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards" type="button" role="tab" aria-controls="cards" aria-selected="true">Cards</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="carousel-tab" data-bs-toggle="tab" data-bs-target="#carousel" type="button" role="tab" aria-controls="carousel" aria-selected="true">Carousel</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="close-button-tab" data-bs-toggle="tab" data-bs-target="#close-button" type="button" role="tab" aria-controls="close-button" aria-selected="true">Close button</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="collapse-tab" data-bs-toggle="tab" data-bs-target="#collapse" type="button" role="tab" aria-controls="collapse" aria-selected="true">Collapse</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="dropdowns-tab" data-bs-toggle="tab" data-bs-target="#dropdowns" type="button" role="tab" aria-controls="dropdowns" aria-selected="true">Dropdowns</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="listgroup-tab" data-bs-toggle="tab" data-bs-target="#listgroup" type="button" role="tab" aria-controls="listgroup" aria-selected="true">List group</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="modals-tab" data-bs-toggle="tab" data-bs-target="#modals" type="button" role="tab" aria-controls="modals" aria-selected="true">Modals</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-tabs-tab" data-bs-toggle="tab" data-bs-target="#nav-tabs" type="button" role="tab" aria-controls="nav-tabs" aria-selected="true">Navs and Tabs</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="navbars-tab" data-bs-toggle="tab" data-bs-target="#navbars" type="button" role="tab" aria-controls="navbars" aria-selected="true">Nav Bars</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pagination-tab" data-bs-toggle="tab" data-bs-target="#pagination" type="button" role="tab" aria-controls="pagination" aria-selected="true">Pagination</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="progress-tab" data-bs-toggle="tab" data-bs-target="#progress" type="button" role="tab" aria-controls="progress" aria-selected="true">Progress</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="spinners-tab" data-bs-toggle="tab" data-bs-target="#spinners" type="button" role="tab" aria-controls="spinners" aria-selected="true">Spinners</button>
          </li>

        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="accordian" role="tabpanel" aria-labelledby="accordian-tab">
            {% block accordian %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
            {% block alerts %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="badge" role="tabpanel" aria-labelledby="badge-tab">
            {% block badge %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="breadcrumb" role="tabpanel" aria-labelledby="breadcrumb-tab">
            {% block breadcrumb %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="buttons" role="tabpanel" aria-labelledby="buttons-tab">
            {% block buttons %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="button-group" role="tabpanel" aria-labelledby="button-group-tab">
            {% block buttongroup %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="cards" role="tabpanel" aria-labelledby="cards-tab">
            {% block cards %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="carousel" role="tabpanel" aria-labelledby="carousel-tab">
            {% block carousel %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="close-button" role="tabpanel" aria-labelledby="close-button-tab">
            {% block closebutton %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="collapse" role="tabpanel" aria-labelledby="collapse-tab">
            {% block collapse %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="dropdowns" role="tabpanel" aria-labelledby="dropdowns-tab">
            {% block dropdowns %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="listgroup" role="tabpanel" aria-labelledby="listgroup-tab">
            {% block listgroup %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="modals" role="tabpanel" aria-labelledby="modals-tab">
            {% block modals %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="nav-tabs" role="tabpanel" aria-labelledby="nav-tabs">
            {% block navtabs %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="navbars" role="tabpanel" aria-labelledby="navbars-tab">
            {% block navbars %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="pagination" role="tabpanel" aria-labelledby="pagination-tab">
            {% block pagination %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">
            {% block progress %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="spinners" role="tabpanel" aria-labelledby="spinners-tab">
            {% block spinners %} {% endblock %}
          </div>


        </div>

      </div>

    </div>

    {% block sidenavbootstrap %} {% endblock %}

  </body>

</html>
