<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://use.typekit.net/itt0uco.css" rel="stylesheet" >
    <link href="src/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="style.css" rel="stylesheet" />

    <title>Adviser Cloud</title>

    <!-- Scripts -->
    <script src="src/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="src/js/jquery.dataTables.min.js"></script>
    <script src="src/js/dataTables.dataTables.min.js"></script>
    <script src="src/js/jquery.slimscroll.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="src/js/custom.js"></script>

  </head>
  <body>

    {% block header %} {% endblock %}

    <div id="container">

      <div id="content">

        {% block messagedetails %} {% endblock %}

      </div>

    </div>

    {% block sidenav %} {% endblock %}


  </body>

</html>
