<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://use.typekit.net/itt0uco.css" rel="stylesheet" >
    <link href="src/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="style.css" rel="stylesheet" />

    <title>Adviser Cloud</title>

    <!-- Scripts -->
    <script src="src/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="src/js/jquery.dataTables.min.js"></script>
    <script src="src/js/dataTables.dataTables.min.js"></script>
    <script src="src/js/jquery.slimscroll.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="src/js/custom.js"></script>

  </head>
  <body>

    {% block header %} {% endblock %}

    <div id="container">

      <div id="content">

        <h1>Tables</h1>

        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="true">Table</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="responsivetable-tab" data-bs-toggle="tab" data-bs-target="#responsivetable" type="button" role="tab" aria-controls="responsivetable" aria-selected="true">Responsive table</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="datatable-tab" data-bs-toggle="tab" data-bs-target="#datatable" type="button" role="tab" aria-controls="datatable" aria-selected="true">Data table</button>
          </li>

        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
            {% block table %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="responsivetable" role="tabpanel" aria-labelledby="responsivetable-tab">
            {% block responsivetable %} {% endblock %}
          </div>

          <div class="tab-pane fade" id="datatable" role="tabpanel" aria-labelledby="datatable-tab">
            {% block datatables %} {% endblock %}
          </div>


        </div>

      </div>

    </div>

    {% block sidenavbootstrap %} {% endblock %}


  </body>

</html>
