<section>

  <h2 class="mt-5 mb-4">Headings</h2>

  <h1 class="mb-4">h1. Heading 1</h1>
  <h2 class="mb-4">h2. Heading 2</h2>
  <h3 class="mb-4">h3. Heading 3</h3>
  <h4 class="mb-4">h4. Heading 4</h4>
  <h5 class="mb-4">h5. Heading 5</h5>
  <h6 class="mb-4">h6. Heading 6</h6>

</section>
