<section>

  <h2 class="mt-5 mb-4">Lists</h2>

  <ul class="list">
    <li>This is a list.</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Donec efficitur justo augue</li>
    <li>Nullam viverra consequat</li>
    <li>Nested lists:
      <ul>
        <li>Aliquam id fringilla neque</li>
        <li>Fusce tincidunt puru</li>
        <li>Proin molestie ex at tortor</li>
      </ul>
    </li>
    <li>Aenean aliquam consequat sem</li>
  </ul>

</section>

<section>

  <h2 class="mt-5 mb-4">Unstyled lists</h2>

  <ul class="list-unstyled">
    <li>This is an unstyled list.</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Donec efficitur justo augue</li>
        <li>Nullam viverra consequat</li>
        <li>Nested lists:
          <ul>
            <li>Aliquam id fringilla neque</li>
            <li>Fusce tincidunt puru</li>
            <li>Proin molestie ex at tortor</li>
          </ul>
        </li>
        <li>Aenean aliquam consequat sem</li>
  </ul>

</section>

<section>

  <h2 class="mt-5 mb-4">Inline lists</h2>

  <ul class="list-inline">
    <li class="list-inline-item">This is a list item.</li>
    <li class="list-inline-item">And another one.</li>
    <li class="list-inline-item">But they're displayed inline.</li>
  </ul>

</section>
