<section>

  <h2 class="mt-5 mb-4">Basic close button</h2>

  <button type="button" class="btn-close" aria-label="Close"></button>

  <h2 class="mt-5 mb-4">Dsiabled state</h2>

  <button type="button" class="btn-close" disabled aria-label="Close"></button>

  <h2 class="mt-5 mb-4">White variant state</h2>

  <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
  <button type="button" class="btn-close btn-close-white" disabled aria-label="Close"></button>

</section>
