<section>

  <h2 class="mt-5 mb-4">Basic modal</h2>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You're reading this text in a modal!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <h2 class="mt-5 mb-4">Scrolling modal</h2>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
    Launch scrolling contentmodal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the prefedined max-height of modal, content will be cropped and scrollable within the modal.</p>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <p>This content should appear at the bottom after you scroll.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <h2 class="mt-5 mb-4">Sidebar modal</h2>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
  	Right Sidebar Modal
  </button>

  <div class="modal right fade" id="myModal1" tabindex="-1" aria-modal="true" role="dialog" aria-labelledby="myModalLabel2">
  	<div class="modal-dialog" role="document">
  		<div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

  			<div class="modal-body">
  				<p>Maecenas sit amet faucibus risus. Fusce at nibh pulvinar, consequat lorem et, maximus nibh. Aenean bibendum ex nec sapien volutpat, eget accumsan velit placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec volutpat neque enim, ut vestibulum erat pretium quis. Curabitur vel justo a ex lobortis malesuada. Mauris at vestibulum nibh. Donec vitae euismod massa. Quisque vel nunc in purus pulvinar consectetur. Mauris in mauris tortor. Duis nec mauris felis. Nulla finibus nulla a arcu auctor, sed pulvinar nibh ultrices. Quisque tellus felis, tristique vel arcu ut, pulvinar scelerisque augue.
  				</p>
  			</div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>

  		</div>
  	</div>
  </div>

  <br>
  <br>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
  	Right Sidebar Modal Scrollable
  </button>

  <div class="modal right fade" id="myModal2" tabindex="-1" aria-modal="true" role="dialog" aria-labelledby="myModalLabel2">
  	<div class="modal-dialog modal-dialog-scrollable" role="document">
  		<div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the prefedined max-height of modal, content will be cropped and scrollable within the modal.</p>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <p>This content should appear at the bottom after you scroll.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>

  		</div>
  	</div>
  </div>

</section>
