<!-- sidenav bootstrap -->

<sidenav id="sidenav">
	<div>
		<a href="index.html" id="sidenav-logo">Home</a>
		<ul class="navbar-nav mr-auto font-medium">
			<li class="nav-item"><a class="nav-link" href="/index.html">Components</a></li>
			<li class="nav-item"><a class="success nav-link" href="/forms.html">Forms</a></li>
			<li class="nav-item"><a class="success nav-link" href="/index.html">Clients</a></li>
			<li class="nav-item"><a class="success nav-link" href="/index.html">Add client</a></li>
			<li class="nav-item"><a class="success nav-link" href="/index.html">Product</a></li>
			<li class="nav-item"><a class="success nav-link" href="/index.html">Fact find</a></li>
			<li class="nav-item"><a class="success nav-link" href="/index.html">New fact find</a></li>
			<li class="nav-item">
			<a class="nav-link" href="/logout.aspx">Logout</a>
			</li>
		</ul>
	</div>
</sidenav>
